*.class
*~
.DS_Store
.vscode
out
.idea
*.iml

# Log file
*.log

#BlueJ files
*ctxt
.xml

### Gradle ###
.gradle
**/build/
!src/**/build/
gradlew
*.bat

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache